
.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #120769;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-button {
  background-color: #120769;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #978bf3;
}

@media (max-width: 600px) {
  .home-container h1 {
    font-size: 2rem;
  }

  .home-button {
    padding: 10px 20px;
  }
}
